.btn {
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #984300, #fd6f00, #ca5900);
    color: #fff;
    transition: transform 0.2s ease, opacity 0.2s ease;
}


.btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}