.hero {
    max-width: 1280px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding-top: 15px;
}

.hero__content h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 60px;
    margin-bottom: 35px;
    background: linear-gradient(90deg,
            #984300 0%,
            #fd6f00 42%,
            #ca5900 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__intro {
    font-size: 24px;
    font-weight: 600;
    color: #707070;
    margin-bottom: 10px;
}


.hero__description {
    font-size: 28px;
    font-weight: 700;
    color: #959595;
    line-height: 1.3;
    margin-bottom: 40px;
}


.hero__actions {
    display: flex;
    gap: 24px;
}



.hero__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero__image img {
    width: 80%;
    border-radius: 50%;
    filter: grayscale(100%);
}


@media (max-width: 1024px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }


    .hero__actions {
        justify-content: center;
    }
}