.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(20, 22, 28, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;

  display: flex;
  align-items: center;
}

.logo {
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;

  background: linear-gradient(94.36deg, #fd6f00 3.1%, #e46400 94.54%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: opacity 0.2s ease, transform 0.2s ease;
}

.logo:hover {
  opacity: 0.85;
  transform: scale(1.03);
}


.point {
  color: #fff;
}

/* NAV */
.nav {
  position: fixed;
  top: 0;
  right: 0;

  width: 80vw;
  max-width: 320px;
  height: 100vh;

  background: #0e0f13;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  transform: translateX(100%);
  transition: transform 0.35s ease;
}

.nav.open {
  transform: translateX(0);
}

.nav a {
  color: #e6e6e6;
  opacity: 0.85;
  text-decoration: none;
}

.nav a:hover {
  opacity: 1;
  color: #b58b4b;
}


/* BOTÃO */
.menu-toggle {
  position: relative;
  z-index: 1100;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: auto;
}

.menu-toggle span {
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* DESKTOP */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: auto;

    height: auto;
    background: transparent;
  }

  .nav a {
    font-size: 20px;
  }
}